.app {
    max-width: 80rem;
}

.content {
    display: flex;
}

.detail {
    flex: 1 1 70%;
}

.list {
    flex: 1 1 30%;
}

@media screen and (max-width: 48rem) {
    .app {
        max-width: 100%;
        margin: 0;
    }

    .detail {
        height: auto;
    }

    .content {
        display: block;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }
}
